* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.reviews-table-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}