.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}


.buttons-semi-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.green {
    background-color: #333;
}