<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="{{url_for('static', filename='images/favicon.svg')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/base.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/menu.css')}}"
    />
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="menu-container">
      <ul class="menu-list">
        <li><a href="{{url_for('description.index')}}">Main Page</a></li>
        <li><a href="{{url_for('product.extract')}}">Extract reviews</a></li>
        <li><a href="{{url_for('product.product_list')}}">Product List</a></li>
        <li><a href="{{url_for('description.about')}}">About</a></li>
      </ul>
    </div>
    {% block content %}{% endblock content %}
  </body>
</html>
