{% extends "base.html" %}

{% block head %}
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/form.css')}}"
    />
    
{% endblock head %}

{% block content %}
    <div class="form-container">
        <form action="{{ url_for('product.extract') }}" method="POST">
            <div class="input-group">
                <label for="product-id">Product Id:</label>
                <input type="text" id="product-id" name="product_id">
            </div>
            <button type="submit">Extract</button>
        </form>
    </div>
{% endblock content %}
