{% extends "base.html" %}

{% block head %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='ext/tabulator/css/tabulator_modern.min.css' )}}"
    />

    <script src="{{ url_for('static', filename='ext/tabulator/js/tabulator.min.js') }}"></script>

    <script>
        const download_formatter = (cell) => {
            const url = cell.getValue()
            return `<button class="url-button" onclick="window.open('${url}', '_blank')">Download</button>`
        }
    </script>
{% endblock head %}

{% block content %}
    <div class="reviews-table-parent">
        <div id="reviews-table"></div>
    </div>
    <script>
        const products = JSON.parse("{{ products|safe }}")

        const table = new Tabulator("#reviews-table", {
            data: products,
            layout: "fitColumns",
            layout: "fitData",
            addRowPos: "top",
            pagination: "local",
            paginationSize: 10,
            paginationCounter: "rows",
            movableColumns: true,
            columns: [
                { title: "{{ _('Id') }}", field: "id", headerFilter: "input",
                    formatter: (cell) => {
                        const row_data = cell.getData()
                        const id = row_data["id"]
                        const name = cell.getValue()
                        const baseUrl = "{{ url_for('product.product', product_id='__REPLACE_ME__') }}"
                        const finalUrl = baseUrl.replace("__REPLACE_ME__", id)
                        return `<a href="${finalUrl}">${id}</a>`
                    }
                },
                { title: "{{ _('Name') }}", field: "name", headerFilter: "input",
                    formatter: (cell) => {
                        const row_data = cell.getData()
                        const id = row_data["id"]
                        const name = cell.getValue()
                        return `<a href="https://ceneo.pl/${id}" target="_blank">${name}</a>`
                    }
                },
                { title: "{{ _('Review Count') }}", field: "review_count", headerFilter: "input" },
                { title: "{{ _('Average Score') }}", field: "avg_score", headerFilter: "input" },
                { title: "{{ _('Pros Count') }}", field: "pros_count", headerFilter: "input" },
                { title: "{{ _('Cons Count') }}", field: "cons_count", headerFilter: "input" },
                { title: "JSON", field: "json", headerFilter: "input",
                    formatter: download_formatter
                },
                { title: "CSV", field: "csv", headerFilter: "input",
                    formatter: download_formatter
                },
                { title: "XLSX", field: "xlsx", headerFilter: "input",
                    formatter: download_formatter 
                },
            ]
        })
    </script>
{% endblock content %}