{% extends "base.html" %}

{% block title %}
{{ name }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator_modern.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/review_text.css' ) }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/buttons.css' ) }}" />

<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
<script src="{{ url_for('static', filename='scripts/formatters.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/table.js') }}"></script>
<script>
    const showGraphs = () => {
        window.open("{{ url_for('product.charts', product_id=request.view_args['product_id']) }}", "_self")
    }
</script>
{% endblock head %}

{% block content %}
<div class="buttons-semi-wrapper">
    <h1>{{ name }}</h1>
</div>
<div class="buttons-semi-wrapper">
    <div class="buttons">
        {% for ext in urls.keys() %}
        <button class="download-button" onclick="window.open('{{ urls[ext] }}', '_blank')">
            {{ _("Download") }} {{ ext }}
        </button>
        {% endfor %}
        <button class="download-button green" onclick="showGraphs()">
            {{ _("Show graphs") }}
        </button>
    </div>
</div>

<div class="reviews-table-parent">
    <div id="reviews-table"></div>
</div>
<script>
    // This whole section calls for help

    const boolFormatter = (cell) => {
        return cell.getValue() ? "{{ _('Yes') }}" : "{{ _('No') }}";
    }

    const tabledata = JSON.parse("{{ reviews | safe }}")

    for (let review of tabledata) {
        review.pros = review.pros.join(", ")
        review.cons = review.cons.join(", ")
    }

    const table = createTable("#reviews-table", tabledata, [
        { title: "{{ _('Id') }}", field: "id", headerFilter: "input", hozAlign: "center", width: 100 },
        {
            title: "{{ _('Author') }}", field: "author", headerFilter: "input", hozAlign: "center", width: 100,
            formatter: (cell) => textFormatter(cell, 12),
            cellClick: textCellClickHandler
        },
        {
            title: "{{ _('Recommend') }}", field: "recommend", headerFilter: "input", hozAlign: "center", width: 130
        },
        { title: "{{ _('Stars') }}", field: "stars", headerFilter: "input", hozAlign: "center", formatter: "star", width: 90 },
        {
            title: "{{ _('Is Verified') }}", field: "is_verified", headerFilter: "input", hozAlign: "center", width: 160
        },
        { title: "{{ _('Publish Date') }}", field: "published_datetime", headerFilter: "input", hozAlign: "center", width: 190 },
        { title: "{{ _('Purchase Date') }}", field: "purchase_datatime", headerFilter: "input", hozAlign: "center", width: 190 },
        { title: "{{ _('Likes') }}", field: "likes", headerFilter: "number", hozAlign: "center", width: 100 },
        { title: "{{ _('Disikes') }}", field: "dislikes", headerFilter: "number", hozAlign: "center", width: 100 },
        {
            title: "{{ _('Text') }}", field: "text", headerFilter: "input", width: 350,
            formatter: textFormatter,
            cellClick: textCellClickHandler
        },
        {
            title: "{{ _('Pros') }}", field: "pros", headerFilter: "input", width: 185,
            formatter: textFormatter,
            cellClick: textCellClickHandler
        },
        {
            title: "{{ _('Cons') }}", field: "cons", headerFilter: "input", width: 185,
            formatter: textFormatter,
            cellClick: textCellClickHandler
        }
    ], {
        "page_size": "{{ _('Page Size') }}",
        "page_title": "{{ _('Show Page') }}",
        "first": "{{ _('First') }}",
        "first_title": "{{ _('First Page') }}",
        "last": "{{ _('Last') }}",
        "last_title": "{{ _('Last Page') }}",
        "prev": "{{ _('Prev') }}",
        "prev_title": "{{ _('Prev Page') }}",
        "next": "{{ _('Next') }}",
        "next_title": "{{ _('Next Page') }}",
        "all": "{{ _('All') }}",
        "counter": {
            "showing": "{{ _('Showing') }}",
            "of": "{{ _('of') }}",
            "rows": "{{ _('rows') }}",
            "pages": "{{ _('pages') }}",
        }
    })
</script>
{% endblock content %}